## Final Project Submission

Please fill out: 
* Student name: Willian Nyawir
* Student pace: self paced / part time / full time
* Scheduled project review date/time: Friday 17th Dec 2026
* Instructor name: Mrs Mwikali
* Blog post URL:

# ANALYSIS OF THE DATASET

# BUSINESS PROBLEM
The company plans to expand into the aviation industry but lacks knowledge about the safety risks associated with different aircraft. This project analyzes historical aviation accident data to identify aircraft makes and models with lower risk profiles, enabling data-driven decisions on which aircraft to purchase for commercial and private operations.

# DATA UNDERSTANDING

In [9]:
#Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('Aviation_Data.csv')
df

C:\Users\user\AppData\Local\Temp\ipykernel_20772\2010058794.py:5: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('Aviation_Data.csv')

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [11]:
df.describe() #gives statistical summary of numerical columns

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [12]:
df.columns #lists all column names

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [13]:
df.shape #calculates number of rows and columns

(90348, 31)

In [14]:
df.ndim #checks number of dimensions

2

The above data has 90348 rows and 31 columns. It also has 2 dimensions. The statistical report of the numerical data is also shown above

## DATA CLEANING

In [16]:
used_columns = df[['Make','Model','Injury.Severity','Aircraft.damage','Aircraft.Category',
                   'Number.of.Engines','Engine.Type','Purpose.of.flight',
                   'Weather.Condition','Total.Fatal.Injuries',
                   'Total.Serious.Injuries','Total.Minor.Injuries','Registration.Number']]

#It organizes the column titles by removing spaces, converting to lowercase and replacing periods with underscores
used_columns.columns = (
    used_columns.columns
    .str.strip()
    .str.lower()
    .str.replace('.', '_', regex=False)
)
used_columns

,make,model,injury_severity,aircraft_damage,aircraft_category,number_of_engines,engine_type,purpose_of_flight,weather_condition,total_fatal_injuries,total_serious_injuries,total_minor_injuries,registration_number
0,Stinson,108-3,Fatal(2),Destroyed,NaN,1.0,Reciprocating,Personal,UNK,2.0,0.0,0.0,NC6404
1,Piper,PA24-180,Fatal(4),Destroyed,NaN,1.0,Reciprocating,Personal,UNK,4.0,0.0,0.0,N5069P
2,Cessna,172M,Fatal(3),Destroyed,NaN,1.0,Reciprocating,Personal,IMC,3.0,NaN,NaN,N5142R
3,Rockwell,112,Fatal(2),Destroyed,NaN,1.0,Reciprocating,Personal,IMC,2.0,0.0,0.0,N1168J
4,Cessna,501,Fatal(1),Destroyed,NaN,NaN,NaN,Personal,VMC,1.0,2.0,NaN,N15NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,PIPER,PA-28-151,Minor,NaN,NaN,NaN,NaN,Personal,NaN,0.0,1.0,0.0,N1867H
90344,BELLANCA,7ECA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,N2895Z
90345,AMERICAN CHAMPION AIRCRAFT,8GCBC,Non-Fatal,Substantial,Airplane,1.0,NaN,Personal,VMC,0.0,0.0,0.0,N749PJ
90346,CESSNA,210N,NaN,NaN,NaN,NaN,NaN,Personal,NaN,0.0,0.0,0.0,N210CU
90347,PIPER,PA-24-260,Minor,NaN,NaN,NaN,NaN,Personal,NaN,0.0,1.0,0.0,N9026P

In [17]:
used_columns.isna().sum() #counts no. of null values

make                       1522
model                      1551
injury_severity            2459
aircraft_damage            4653
aircraft_category         58061
number_of_engines          7543
engine_type                8555
purpose_of_flight          7651
weather_condition          5951
total_fatal_injuries      12860
total_serious_injuries    13969
total_minor_injuries      13392
registration_number        2841
dtype: int64

In [21]:
used_columns=used_columns.dropna() #removes null values
used_columns

,make,model,injury_severity,aircraft_damage,aircraft_category,number_of_engines,engine_type,purpose_of_flight,weather_condition,total_fatal_injuries,total_serious_injuries,total_minor_injuries,registration_number
7,Cessna,140,Non-Fatal,Substantial,Airplane,1.0,Reciprocating,Personal,VMC,0.0,0.0,0.0,N2482N
8,Cessna,401B,Non-Fatal,Substantial,Airplane,2.0,Reciprocating,Business,IMC,0.0,0.0,0.0,N7967Q
12,Bellanca,17-30A,Non-Fatal,Destroyed,Airplane,1.0,Reciprocating,Personal,IMC,0.0,0.0,1.0,N14779
13,Cessna,R172K,Fatal(1),Destroyed,Airplane,1.0,Reciprocating,Personal,IMC,1.0,0.0,0.0,N758SK
14,Navion,A,Fatal(1),Destroyed,Airplane,1.0,Reciprocating,Personal,IMC,1.0,0.0,0.0,N4876K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90098,CESSNA,150,Non-Fatal,Substantial,Airplane,1.0,Reciprocating,Personal,VMC,0.0,0.0,0.0,N18158
90106,CESSNA,177RG,Non-Fatal,Substantial,Airplane,1.0,Reciprocating,Personal,VMC,0.0,0.0,0.0,N2047Q
90120,BEECH,B-60,Non-Fatal,Substantial,Airplane,2.0,Reciprocating,Personal,VMC,0.0,0.0,0.0,N2889W
90194,STEPHEN J HOFFMAN,MS-500,Minor,Substantial,Airplane,1.0,Reciprocating,ASHO,VMC,0.0,1.0,0.0,N778MS
90226,LUSCOMBE,8E,Non-Fatal,Substantial,Airplane,1.0,Reciprocating,Personal,VMC,0.0,0.0,0.0,N1855K

In [23]:
airplane_dataset=used_columns.loc[used_columns['aircraft_category']=='Airplane']
airplane_dataset

,make,model,injury_severity,aircraft_damage,aircraft_category,number_of_engines,engine_type,purpose_of_flight,weather_condition,total_fatal_injuries,total_serious_injuries,total_minor_injuries,registration_number
7,Cessna,140,Non-Fatal,Substantial,Airplane,1.0,Reciprocating,Personal,VMC,0.0,0.0,0.0,N2482N
8,Cessna,401B,Non-Fatal,Substantial,Airplane,2.0,Reciprocating,Business,IMC,0.0,0.0,0.0,N7967Q
12,Bellanca,17-30A,Non-Fatal,Destroyed,Airplane,1.0,Reciprocating,Personal,IMC,0.0,0.0,1.0,N14779
13,Cessna,R172K,Fatal(1),Destroyed,Airplane,1.0,Reciprocating,Personal,IMC,1.0,0.0,0.0,N758SK
14,Navion,A,Fatal(1),Destroyed,Airplane,1.0,Reciprocating,Personal,IMC,1.0,0.0,0.0,N4876K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90098,CESSNA,150,Non-Fatal,Substantial,Airplane,1.0,Reciprocating,Personal,VMC,0.0,0.0,0.0,N18158
90106,CESSNA,177RG,Non-Fatal,Substantial,Airplane,1.0,Reciprocating,Personal,VMC,0.0,0.0,0.0,N2047Q
90120,BEECH,B-60,Non-Fatal,Substantial,Airplane,2.0,Reciprocating,Personal,VMC,0.0,0.0,0.0,N2889W
90194,STEPHEN J HOFFMAN,MS-500,Minor,Substantial,Airplane,1.0,Reciprocating,ASHO,VMC,0.0,1.0,0.0,N778MS
90226,LUSCOMBE,8E,Non-Fatal,Substantial,Airplane,1.0,Reciprocating,Personal,VMC,0.0,0.0,0.0,N1855K

# DATA PROCESSING